body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  position: relative;
  text-align: center;
}

/* #justAForm {
  height: 100vh;
} */

.formCont {
  margin-left: 800px;
  padding-top: 100px;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

input {
margin-left: 20px;
border-radius: 4px;
border: 2px solid lightcoral;
height: 30px;
}

input:focus {
  outline: none;
  border: 2px solid purple;
}

button[type="submit"], #btn {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  background-color: #222;
}

.putInCard, #newCard  {
  color: white;
  background: url("./images/bg-card-front.png");
  z-index: 1;
  position: absolute;
  top: 150px;
  left: 150px;
  height: 240px;
  width: 440px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgb(17 17 17 / 40%);
}

.carNumDiv {
  font-size: 28px;
  margin-left: 0;
}

.nameDiv {
text-align: left;
margin-left: 20px;
}

#logo {
  margin-top: 20px;
  margin-left: -300px;
}

.putInCardBack, #newCardBack {
  color: white;
  background: url("./images/bg-card-back.png");
  z-index: 1;
  position: absolute;
  top: 450px;
  left: 250px;
  height: 240px;
  width: 440px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgb(17 17 17 / 40%);
}

#cvvDiv {
  margin-top: 100px;
  margin-left: 300px;
}

#btn {
  margin-left: auto;
  margin-right: auto;
}

.bigBackground {
  position: absolute;
  background: url("./images/bg-main-desktop.png");
  top: 0;
  width: 450px;
  height: 100vh;
}


#formComplete {
  margin-left: 800px;
  padding-top: 100px;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}